<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pineapple.for_future">
    <uses-permission android:name = "android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Main Menu"
        android:supportsRtl="true"
        >

        <activity android:name=".LoadingActivity"
            android:theme="@style/LoadingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".MainMenuActivity"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".Survey1Activity"
            android:theme="@style/AppTheme">

        </activity>
        
        <activity android:name=".Survey2Activity"
            android:theme="@style/AppTheme">

        </activity>


        <activity android:name=".Survey3Activity"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".FinishActivity"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>